<div class="login_form_wrapper">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-8 col-md-offset-2">
        <!-- login_wrapper -->
        <form class="login_wrapper" [formGroup]="form" (submit)="onSubmit()">
          <h1 class="mb-5">Registration</h1>
          <div class="formsix-e">
            <label class="text-danger">{{errors.name}}</label>
            <div class="form-group i-password">
              <input formControlName="name" type="text" class="form-control border-bottom" placeholder="Name *">
            </div>
          </div>
          <div class="formsix-pos">
            <label class="text-danger">{{errors.email}}</label>
            <div class="form-group i-email">
              <input formControlName="email" type="email" class="form-control border-bottom" placeholder="Email Address *">
            </div>
          </div>
          <div class="formsix-e">
            <label class="text-danger">{{errors.password}}</label>
            <div class="form-group i-password">
              <input formControlName="password" type="password" class="form-control border-bottom" required="" id="password" placeholder="Password *">
            </div>
          </div>
          <div class="login_btn_wrapper"> <button class="btn btn-primary login_btn w-100"> Register </button> </div>
          <div class="login_message">
            <p>Already have an account ? <a routerLink="/login"> Log in </a> </p>
          </div>
        </form> <!-- /.login_wrapper-->
      </div>
    </div>
  </div>
</div>
